<!-- admin-home.component.html -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" mode="side" opened>
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/admin" routerLinkActive="active-link" (click)="drawer.toggle()">Dashboard</a>
        <a mat-list-item routerLink="/admin/add-product" routerLinkActive="active-link" (click)="drawer.toggle()">Products</a>
        <a mat-list-item routerLink="/admin/banner" routerLinkActive="active-link" (click)="drawer.toggle()">Banner</a>
        <a mat-list-item routerLink="/customers" routerLinkActive="active-link" (click)="drawer.toggle()">Customers</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Admin Dashboard</span>
      </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  